@import url(//db.onlinewebfonts.com/c/1c6eb2519248229e6860a41985bf1827?family=Univers+TE20+Thin);

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;

  overflow-x: hidden;
}

@font-face {
  font-family: "Univers TE20 Thin";
  src: url("//db.onlinewebfonts.com/t/1c6eb2519248229e6860a41985bf1827.eot");
  src: url("//db.onlinewebfonts.com/t/1c6eb2519248229e6860a41985bf1827.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/1c6eb2519248229e6860a41985bf1827.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/1c6eb2519248229e6860a41985bf1827.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/1c6eb2519248229e6860a41985bf1827.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/1c6eb2519248229e6860a41985bf1827.svg#Univers TE20 Thin")
      format("svg");
}
